body {
    letter-spacing: 0.1em;
    display: none;
}

// ---------- indexページ ----------
.title {
    .title {
        position: relative;
    }

    .titleAnime {
        position: absolute;
        color: lightgreen;
        font-size: 96px;
        font-family: "Shrikhand", cursive;
        letter-spacing: 0.2em;
    }

    // ---------- タイトルを１文字づつ表示させる ----------
    .titleAnime {
        opacity: 0;
    }

    .titleAnime span {
        opacity: 0;
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
    // ---------- タイトルを１文字づつ表示させる ここまで ----------

    // ---------- トップページ読み込み時にロゴを表示させる ----------
    .logo {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9000;
    }
    
    .logo p {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 9999;
        width: 280px;
    }
    // ---------- トップページ読み込み時にロゴを表示させる ここまで ----------

}

// ---------- profileページ ----------
.about {
    .wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .icon {
        padding:30px;
        width: 32%;
    }

    h4 {
        color: lightgreen;
    }
}
// ---------- collection_worksページ ----------
.collection_works {
    h1 {
        color: lightgreen;
    }

    .development-secret-story {
        h3 {
            padding-top: 20px;
            color:lightgreen;
        }

        span {
            color: red;
            font-weight: bold;
        }
    }

    .important {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
}